{% extends "base.html" %}

{% block title %}Setting New password{% endblock title %}

{% block content %}
<h4>Set New Password</h4>

<form action="" method="post">
    {% csrf_token %}
    {% if validlink %}
        <p>Please enter your new password twice. 
           So we can verify you typed it in correctly.</p>

    <form method="post" style="margin-top: 1.3em;">
        {{ form | crispy }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary  btn-lg"
                style="margin-left:auto;margin-right:auto;display:block;margin-top:5%;margin-bottom:0%">Change
        </button>
    </form>
    {% else %}
        <h4>Password reset unsuccessful</h4>
        <p>The password reset link was invalid, 
           possibly because it has already been used.
           Please request a new password reset.</p><br/>
    {% endif %}

    <button type="submit">Change my password</button>
</form>
{% endblock content %}