<!DOCTYPE html>

{% extends "base.html" %}


{% block content %}

<div class="col-md-12">
    <div class="card">
    <div class="card-header">
        <h5 class="title">Success!</h5>
        <p class="category"> - From the developers at <a
            href="">Channel</a></p>
    </div>
    <div class="card-body all-icons">
        <div class="row">
        <div class="container mycontent">
            <h2>You have successfully activated your Channel account!</h2>
        </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
