{% extends 'base.html' %}

{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
         margin: 0 auto;
          float: none;
           margin-bottom: px;
    }

</style>

{% load crispy_forms_tags %}

<div class="col-md-4 card mb-4  mt-3 ">
    <div class="card-body">
        <h1>Set Assignees</h1>
        <form method="post" style="margin-top: 1.3em;">

            {{ assignee_form | crispy }}

            {% csrf_token %}
            <button type="submit" class="btn btn-primary  btn-lg"
                    style="margin-left:auto;margin-right:auto;display:block;margin-top:5%;margin-bottom:0%">Create
            </button>
        </form>
        <a href="{% url 'update:update_issue' issue.id %}" style="text-align: right;
    float: right;">Issues</a>
    </div>
</div>
{%endblock%}