{% extends 'base.html' %}

{% block content %}


<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
    }

    .head_text {
        color: white;
    }

    .card {
        box-shadow: 0 16px 48px #E3E7EB;
         margin: 0 auto;
          float: none;
           margin-bottom: px;
    }
</style>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width" initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="col-md-4 card mb-4 mt-3">
    <div class="card-body">
        <form method="post">
        <label for="color">Pick Label: </label>
        <input id="color" type="color" name="color" value="{{ label_form.color_label }}">
        <input type="text" id="hex">
            <p></p>

            <p>Priority {{ label_form.priority }}</p>
            {% csrf_token %}
            <p></p>
            <button type="submit"  class="btn btn-primary  btn-lg" style="margin-left:auto;margin-right:auto;display:block;margin-top:5%;margin-bottom:0%">submit</button>
        </form>
    </div>
</div>
{% load static %}
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>

{% endblock %}